:root {
    --black: #3b434e;
    --white: #ffffff;
    --grey: #646363;
    --grey-light: #ebebeb;
    --primary: #7653fc;
    --primary-hover: #8e238c;
    --orange: #fc836d;
    --red: #de0000;
    --green: #1dc37e;
    --green-light: #c8f8e4;
    --font-family: "Noto Sans", sans-serif;
    --background: #f5f6f8;
}
